body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: cornsilk;
}

* {
  text-decoration: none;
}

img {
  width: 100%;
}

header {
  background-color: #333;
  color: cornsilk;
  padding: 5px;
  text-align: center;
}

h1 {
  font-size: 50px;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 10px;
}

nav ul li a {
  color: cornsilk;
  text-decoration: none;
  font-size: 20px;
  transition: all 1s;
}

nav ul li a:hover {
  color: grey;
}

#about-me {
  text-align: center;
}

h2 {
  font-size: 33px;
}

#about-me div {
  display: flex;
  gap: 11rem;
  justify-content: center;
}

#about-me div img {
  width: 300px;
  border-radius: 50px;
}

#about-me div p {
  width: 400px;
  font-size: 20px;
  line-height: 40px;
  font-weight: 500;
}

li {
  list-style-type: none;
}

#skills {
  text-align: center;
  background-color: #333;
  color: cornsilk;
  padding: 1rem;
  margin: 5rem 0px;
}

#skills ul {
  display: flex;
  justify-content: center;
  gap: 20px;
}

#skills ul li {
  font-size: 1.5em;
  font-weight: 700;
}

#contact {
  text-align: center;
}

#contact ul {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
}

#contact ul a img {
  width: 50px;
}

footer {
  background-color: #333;
  padding: 0.5rem;
  color: cornsilk;
  text-align: center;
}

footer p {
  font-size: 1em;
  font-weight: 700;
}

@media screen and (max-width: 300px) {
  h1 {
    font-size: 35px;
  }

  nav ul li a {
    font-size: 15px;
  }

  #about-me div {
    flex-direction: column;
    place-items: center;
  }

  #about-me div img {
    width: 180px;
  }

  #about-me div {
    gap: 2rem;
  }

  #about-me div p {
    width: 233px;
    font-size: 14px;
    line-height: 30px;
  }
}